@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* Leaflet Overrides */
.leaflet-popup-content-wrapper {
  background: #0f172a !important;
  color: white !important;
  border: 1px solid #1e293b;
}

.leaflet-popup-tip {
  background: #0f172a !important;
}
